:root {
  --background-color: rgb(10, 10, 10, 1);
  --text-color: rgba(200, 200, 200, 1);
  --header-color: rgb(230, 176, 0);
  --dark-highlight: rgba(15, 1, 26, 1);
  --dark-transparent: rgba(15, 1, 26, 0.95);
}
