@import 'colors.css';
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Montserrat&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  font-size: 62.5%;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  padding: 0;
  text-align: justify;
  margin-bottom: 1.5rem;
}

h1,
h2,
h3 {
  font-family: 'PT+Serif', serif;
  display: block;
  color: transparent;
  background: linear-gradient(
    135deg,
    rgb(230, 176, 0),
    rgb(211, 11, 0) 80%
  );
  font-weight: 400;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  font-size: 4.5rem;
}

h3 {
  display: block;
  font-size: 3.25rem;
  margin: 0.75rem 0 -1rem 0;
}

h4 {
  color: var(--header-color);
  margin-bottom: 0.5rem;
}

h1,
h2,
h3,
h4 {
  text-align: center;
}

li {
  list-style: none;
}

ul {
  margin: 0 -2rem;
}

.align-left {
  text-align: left;
}

.margin-bottom {
  margin-bottom: 2rem;
}

.section-description {
  width: 75%;
  margin: 0 auto 50px auto;
}

.no-bottom-margin {
  margin-bottom: 0 !important;
}

input,
textarea {
  width: 100%;
  margin-top: 0.75rem;
  border-radius: 0;
  padding: 0.75rem;
  outline: 0;
  border: 2px solid var(--header-color);
}

button {
  border: 0;
  outline: 0;
  user-select: none;
  font-weight: bold;
}

@import 'nav.css';

@media (max-width: 500px) {
  .project-links,
  .skewy {
    transform: skewy(8deg);
  }

  .education-links,
  h3 {
    transform: skewy(4deg);
  }

  #education > a {
    transform: skewy(8deg);
  }
}

@media (max-width: 1000px) {
  .project-links {
    transform: skewy(4deg);
  }

  h3,
  .education-links {
    transform: skewy(3.5deg);
  }

  .skewy {
    transform: skewy(4deg);
  }

  .padding {
    padding: 1.5rem 0 3rem 0;
  }
}

@media (min-width: 1001px) {
  .project-links {
    transform: skewy(2deg);
  }

  h3,
  .education-links {
    transform: skewy(2.03deg);
  }

  .skewy {
    transform: skewy(2deg);
  }

  .padding {
    padding: 1.5rem 0 3rem 0;
  }
}
